@mixin vp-1919 {
  @media (max-width: 1919px) {
    @content;
  }
}

@mixin vp-1590 {
  @media (max-width: 1590px) {
    @content;
  }
}

@mixin vp-1439 {
  @media (max-width: 1439px) {
    @content;
  }
}

@mixin vp-1023 {
  @media (max-width: 1023px) {
    @content;
  }
}

@mixin vp-767 {
  @media (max-width: 767px) {
    @content;
  }
}

@mixin vp-500 {
  @media (max-width: 500px) {
    @content;
  }
}

@mixin vp-374 {
  @media (max-width: 374px) {
    @content;
  }
}

$tf-default: ease;
$trans-default: 0.3s $tf-default;
$trans-modal: 0.6s cubic-bezier(0.55, 0, 0.1, 1);
$trans-600: 0.6s $tf-default;

:root {
  --font-family: 'Source Serif Pro', sans-serif;
  --second-family: 'Viaoda Libre', sans-serif;
}

*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: 'Anton';
  font-style: normal;
  font-weight: 400;

  src: url('../fonts/Anton-Regular.woff2') format('woff2'),
    url('../fonts/Anton-Regular.woff') format('woff');
}

@font-face {
  font-family: 'Source Serif Pro';
  src: url('../fonts/SourceSerifPro-Regular.woff2') format('woff2'),
    url('../fonts/SourceSerifPro-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
  background: #f8f8f8;
  font-family: var(--font-family);
}

.main {
  display: grid;
  grid-template-columns: 400px 1fr;
  column-gap: 100px;
  overflow: hidden;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-right: 100px;

  @include vp-1590 {
    max-width: 1440px;
  }

  &_contactsList {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  &_contactsItem {
    a {
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 20px;
      border-radius: 25px;
      width: 268px;
      min-height: 40px;
      background: #3eb489;
      text-decoration: none;
      transition: all $trans-default;
      font-weight: 400;
      font-size: 24px;
      color: #f8f8f8;

      &:hover,
      &:focus {
        box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.25);
      }
    }
  }
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;

  &_item {
    display: flex;
    align-items: center;
    padding-left: 15px;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    width: 340px;
    height: 74px;
    background: #3eb489;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    color: #f8f8f8;
    transition: all $trans-default;

    &:hover,
    &:focus {
      box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.25);
    }
  }
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;

  @include vp-1919 {
    align-items: flex-start;
  }

  &_list {
    display: flex;
    gap: 30px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;

    @include vp-1919 {
      justify-content: initial;
      flex-direction: column;
      align-items: flex-start;
    }
  }

  &_item {
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 25px;
    width: 601px;
    min-height: 265px;
    background: #3eb489;
    padding: 30px 60px;
  }

  &_client,
  &_specialist,
  &_service,
  &_time,
  &_price {
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    color: #f8f8f8;
  }

  &_priceWrapper {
    display: flex;
    gap: 60px;
  }

  &_removeBtn {
    margin-top: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 25px;
    width: 236px;
    min-height: 39px;
    box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.25);
    background: #3eb489;
    font-family: var(--font-family);
    font-weight: 600;
    font-size: 24px;
    text-align: center;
    color: #f8f8f8;
    border: none;
    transition: all $trans-default;

    &:hover,
    &:focus {
      box-shadow: none;
    }
  }
}

.calendar {
  border-radius: 25px;
  width: 601px;
  height: 488px;
  background: #3eb489;
  color: white;
}

.custom-calendar {
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  backdrop-filter: none !important;

  .calendar__day-no-event {
    background: #f8f8f8;
    border-radius: 50%;
    color: black;
    width: 50px;
    height: 50px;
  }

  .calendar__days {
    justify-content: center;
    grid-template-columns: repeat(7, minmax(50px, 50px)) !important;
    grid-template-rows: repeat(6, minmax(50px, 50px)) !important;
    gap: 20px;
  }

  .calendar__weekdays {
    display: none !important;
  }

  .calendar__body,
  .calendar__header {
    background-color: transparent !important;
  }

  .calendar__header {
    justify-content: center;
    align-items: center;
  }

  .calendar__month {
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    color: #f8f8f8;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
  }

  .calendar__year {
    display: none !important;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 40px;
    color: #f8f8f8;
    text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-transform: capitalize;
  }

  .calendar__day-today {
    background: #f99e13 !important;
    color: black !important;
  }

  .calendar__day-box {
    background-color: initial !important;
    box-shadow: none !important;
  }

  .calendar__day-selected {
    color: black !important;

    .calendar__day-box {
      background-color: initial !important;
      box-shadow: none !important;
    }
  }

  .calendar__day-event {
    background: #f4f09f !important;
    border-radius: 50%;
    color: black;
    width: 50px;
    height: 50px;
  }

  .calendar__day-other {
    background: #f8f8f8;
    border-radius: 50%;
    color: black;
    width: 50px;
    height: 50px;
  }

  .calendar__day-bullet {
    display: none !important;
  }

  .calendar__picker-month-option {
    background: #3eb489 !important;
    color: #fff !important;
  }

  .calendar__picker-month-today {
    box-shadow: none !important;
  }

  .calendar__picker-month-selected {
    box-shadow: none !important;
    text-decoration: underline;
    border: none !important;

    &:after {
      background-color: transparent !important;
    }
  }
}

.color-calendar.glass .calendar__arrow-prev .calendar__arrow-inner::before {
  border-radius: initial !important;
  border: none;
  background-image: url('../img/prev.svg');
  width: 36px;
  height: 41px;
  margin: 0 !important;
  transform: none !important;
}

.color-calendar.glass .calendar__arrow-next .calendar__arrow-inner::before {
  border-radius: initial !important;
  border: none;
  background-image: url('../img/next.svg');
  width: 36px;
  height: 41px;
  margin: 0 !important;
  transform: none !important;
}

.color-calendar.glass.color-calendar--small
  .calendar__header
  .calendar__arrow-inner,
.color-calendar.glass.color-calendar--small
  .calendar__header
  .calendar__arrow-inner::after {
  background: transparent;
}
