*,
:before,
:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: 0;
}

@font-face {
  font-family: "Viaoda Libre";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/ViaodaLibre-Regular.woff2") format("woff2"), url("../fonts/ViaodaLibre-Regular.woff") format("woff");
}
@font-face {
  font-family: "Source Serif Pro";
  src: url("../fonts/SourceSerifPro-Regular.woff2") format("woff2"), url("../fonts/SourceSerifPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  --font-family: "Source Serif Pro", sans-serif;
  --second-family: "Viaoda Libre", sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  color: #fff;
  font-weight: 400;
  line-height: 1.2;
  background: #f8f8f8;
  font-family: var(--font-family);
}

.main {
  display: grid;
  grid-template-columns: 400px 1fr;
  -moz-column-gap: 60px;
       column-gap: 60px;
  overflow: hidden;
  padding-bottom: 100px;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  padding-top: 35px;
  padding-right: 120px;
  box-sizing: border-box;
}
@media (max-width: 1590px) {
  .header {
    max-width: 1440px;
  }
}
.header_contactsList {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 31px;
}
.header_contactsItem a {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 6px 20px;
  border-radius: 25px;
  width: 268px;
  min-height: 40px;
  background: #3eb489;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: 400;
  font-size: 24px;
  color: #f8f8f8;
}
.header_contactsItem a:hover, .header_contactsItem a:focus {
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.25);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 50px;
}
.sidebar_item {
  display: flex;
  align-items: center;
  padding-left: 15px;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
  width: 357px;
  height: 74px;
  background: #3eb489;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  color: #f8f8f8;
  transition: all 0.3s ease;
}
.sidebar_item:hover, .sidebar_item:focus {
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.25);
}
.sidebar_item--active {
  font-weight: 700;
  pointer-events: none;
}

.orders {
  display: flex;
  flex-direction: column;
  gap: 35px;
  align-items: center;
}
@media (max-width: 1919px) {
  .orders {
    align-items: flex-start;
  }
}
.orders_list {
  display: flex;
  gap: 35px;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
}
@media (max-width: 1919px) {
  .orders_list {
    justify-content: initial;
    flex-direction: column;
    align-items: flex-start;
  }
}
.orders_item {
  display: flex;
  flex-direction: column;
  gap: 10px;
  border-radius: 25px;
  width: 601px;
  min-height: 265px;
  background: #3eb489;
  padding: 30px 60px;
}
.orders_client, .orders_specialist, .orders_service, .orders_time, .orders_price {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  color: #f8f8f8;
}
.orders_priceWrapper {
  display: flex;
  gap: 60px;
}
.orders_removeBtn {
  margin-top: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 25px;
  width: 236px;
  min-height: 39px;
  box-shadow: 0 4px 27px 0 rgba(0, 0, 0, 0.25);
  background: #3eb489;
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #f8f8f8;
  border: none;
  transition: all 0.3s ease;
}
.orders_removeBtn:hover, .orders_removeBtn:focus {
  box-shadow: none;
}

.calendar {
  border-radius: 25px;
  width: 601px;
  height: 488px;
  background: #3eb489;
  color: white;
}

.custom-calendar {
  width: 100% !important;
  height: 100% !important;
  background: transparent !important;
  -webkit-backdrop-filter: none !important;
          backdrop-filter: none !important;
}
.custom-calendar .calendar__day-no-event {
  background: #f8f8f8;
  border-radius: 50%;
  color: black;
  width: 50px;
  height: 50px;
}
.custom-calendar .calendar__days {
  justify-content: center;
  grid-template-columns: repeat(7, minmax(50px, 50px)) !important;
  grid-template-rows: repeat(6, minmax(50px, 50px)) !important;
  -moz-column-gap: 26px;
       column-gap: 26px;
  row-gap: 16px;
  font-family: var(--second-family) !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  color: #000 !important;
}
.custom-calendar .calendar__weekdays {
  display: none !important;
}
.custom-calendar .calendar__body,
.custom-calendar .calendar__header {
  background-color: transparent !important;
}
.custom-calendar .calendar__header {
  justify-content: center;
  align-items: center;
}
.custom-calendar .calendar__month {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  color: #f8f8f8;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
}
.custom-calendar .calendar__year {
  display: none !important;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 40px;
  color: #f8f8f8;
  text-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
  text-transform: capitalize;
}
.custom-calendar .calendar__day-today {
  background: #f99e13 !important;
  color: black !important;
}
.custom-calendar .calendar__day-box {
  background-color: initial !important;
  box-shadow: none !important;
}
.custom-calendar .calendar__day-selected {
  color: black !important;
}
.custom-calendar .calendar__day-selected .calendar__day-box {
  background-color: initial !important;
  box-shadow: none !important;
}
.custom-calendar .calendar__day-event {
  background: #f4f09f !important;
  border-radius: 50%;
  color: black;
  width: 50px;
  height: 50px;
}
.custom-calendar .calendar__day-other {
  background: #f8f8f8;
  border-radius: 50%;
  color: black;
  width: 50px;
  height: 50px;
}
.custom-calendar .calendar__day-bullet {
  display: none !important;
}
.custom-calendar .calendar__picker-month-option {
  background: #3eb489 !important;
  color: #fff !important;
}
.custom-calendar .calendar__picker-month-today {
  box-shadow: none !important;
}
.custom-calendar .calendar__picker-month-selected {
  box-shadow: none !important;
  text-decoration: underline;
  border: none !important;
}
.custom-calendar .calendar__picker-month-selected:after {
  background-color: transparent !important;
}

.color-calendar.glass .calendar__arrow-prev .calendar__arrow-inner::before {
  border-radius: initial !important;
  border: none;
  background-image: url("../img/prev.svg");
  width: 36px;
  height: 41px;
  margin: 0 !important;
  transform: none !important;
}

.color-calendar.glass .calendar__arrow-next .calendar__arrow-inner::before {
  border-radius: initial !important;
  border: none;
  background-image: url("../img/next.svg");
  width: 36px;
  height: 41px;
  margin: 0 !important;
  transform: none !important;
}

.color-calendar.glass.color-calendar--small .calendar__header .calendar__arrow-inner,
.color-calendar.glass.color-calendar--small .calendar__header .calendar__arrow-inner::after {
  background: transparent;
}

.tableContainer {
  padding-right: 60px;
}
@media (max-width: 1600px) {
  .tableContainer {
    padding-right: 0;
  }
}
@media (max-width: 1439px) {
  .tableContainer {
    overflow-x: auto;
  }
}

.table {
  border-radius: 25px;
  min-width: 895px;
  max-width: 1600px;
  width: 100%;
  background: #3eb489;
  border-collapse: collapse;
  margin-left: 30px;
}
@media (max-width: 1600px) {
  .table {
    padding-right: 0;
    width: 895px;
  }
}
@media (max-width: 1439px) {
  .table {
    margin-left: 0;
  }
}
.table_header {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #f8f8f8;
  text-align: center;
  padding: 15px 30px;
  border: 1px solid #fff;
}
.table_cell {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 24px;
  color: #f8f8f8;
  padding: 28px 20px;
  border: 1px solid #fff;
}
.table_cell--center {
  text-align: center;
  vertical-align: top;
}
.table_cell--center img {
  display: inline-block;
}
.table_cell--rating {
  position: relative;
}
.table_cell--rating img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.table_cell--frame {
  padding: 5px;
  border: 1px solid #f8f8f8;
}
.table_cell--frameBig {
  padding: 5px 10px;
  border: 1px solid #f8f8f8;
  text-align: center;
}
.table_removeBtn {
  cursor: pointer;
  border: 0;
  background: 0;
  transition: 0.3s ease;
}
.table_removeBtn:hover, .table_removeBtn:focus {
  opacity: 0.8;
}

.table--procedures .table_header {
  padding: 15px 45px;
}/*# sourceMappingURL=style.css.map */